{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plotly/Django</title>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sub.css' %}">
  

</head>
<body>
    <div class="header">
        <img src="{% static 'image/header.jpg' %}" alt="" s>
    </div>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <div class="inner_footer">
           <div class="footer_text">
            © Leakhena SUON STEIB. 2024. &nbsp; Tel:+41 78 617 66 98 &nbsp;  Contact: info@soma.biz
           </div>
        </div>
    </div>
</body>
</html>