{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h4><b>The best assets to be invested:</b><h4>

<script src="{% static 'js/action.js' %}"></script>

{{ data5 }} <br><br><br>
Possible Combination of Assets Table
{% include 'core/result.html' %} 

<div class="row">
    <div class = "column">
        <img src="data:image/png;base64,{{ data6 }}" alt=""​​  onclick="change (this)" >
    </div>
    <div class ="column">
        <img src="data:image/png;base64,{{ data1 }}" alt="" onclick="change (this)" >
    </div>
    <div class ="column">
        <img src="data:image/png;base64,{{ data2 }}" alt="" >
    </div>
</div>

<div class = "row">
    <div class = "column">
        <img src="data:image/png;base64,{{ data3 }}" alt="" onclick="change(this)"> 
    </div>
    <div class = "column">
        <img src="data:image/png;base64,{{ data4 }}" alt="" onclick="change(this)">
    </div>
    <div class = "column">
        <img src="{% static 'image/corm.png' %}" alt="" onclick="change_a (this)"> 
    </div>
</div>

{% endblock content %}