{% extends 'core/base.html' %}

{% block content %}
	<form method="POST" action ="{% url 'chart' %}">
		{% csrf_token %}
		
		<div class="form-group">
			Start: {{form.start}}
		</div>
		
		<div class="form-group">
			End: {{form.end}}
		</div>

		<div class="form-group">
			Please Select Asset Name: {{form.assets}}
		</div>

		<div class="form-group">
			Budget: {{form.budget}}
		</div>

		<div class="form-group">
			<input type="submit" value="Submit">
		</div>
	</form>   

{% endblock content %}