<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<table border="1" class="table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>State</th>
      <th>Value</th>
      <th>Probability</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>01001</td>
      <td>-0.002969</td>
      <td>0.066406</td>
    </tr>
    <tr>
      <th>1</th>
      <td>11000</td>
      <td>-0.002347</td>
      <td>0.063477</td>
    </tr>
    <tr>
      <th>2</th>
      <td>00110</td>
      <td>-0.001445</td>
      <td>0.059570</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10010</td>
      <td>-0.001482</td>
      <td>0.057617</td>
    </tr>
    <tr>
      <th>4</th>
      <td>00101</td>
      <td>-0.002199</td>
      <td>0.054688</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10001</td>
      <td>-0.002127</td>
      <td>0.051758</td>
    </tr>
    <tr>
      <th>6</th>
      <td>01100</td>
      <td>-0.002397</td>
      <td>0.051758</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10100</td>
      <td>-0.001587</td>
      <td>0.046875</td>
    </tr>
    <tr>
      <th>8</th>
      <td>00011</td>
      <td>-0.002105</td>
      <td>0.046875</td>
    </tr>
    <tr>
      <th>9</th>
      <td>01010</td>
      <td>-0.002322</td>
      <td>0.042969</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11011</td>
      <td>-0.002795</td>
      <td>0.032227</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11001</td>
      <td>-0.003042</td>
      <td>0.031250</td>
    </tr>
    <tr>
      <th>12</th>
      <td>11110</td>
      <td>-0.002216</td>
      <td>0.030273</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11101</td>
      <td>-0.002899</td>
      <td>0.029297</td>
    </tr>
    <tr>
      <th>14</th>
      <td>01111</td>
      <td>-0.002983</td>
      <td>0.029297</td>
    </tr>
    <tr>
      <th>15</th>
      <td>10101</td>
      <td>-0.002377</td>
      <td>0.028320</td>
    </tr>
    <tr>
      <th>16</th>
      <td>01011</td>
      <td>-0.003132</td>
      <td>0.028320</td>
    </tr>
    <tr>
      <th>17</th>
      <td>10111</td>
      <td>-0.002120</td>
      <td>0.028320</td>
    </tr>
    <tr>
      <th>18</th>
      <td>11010</td>
      <td>-0.002432</td>
      <td>0.028320</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10110</td>
      <td>-0.001660</td>
      <td>0.027344</td>
    </tr>
    <tr>
      <th>20</th>
      <td>11100</td>
      <td>-0.002527</td>
      <td>0.027344</td>
    </tr>
    <tr>
      <th>21</th>
      <td>00111</td>
      <td>-0.002350</td>
      <td>0.026367</td>
    </tr>
    <tr>
      <th>22</th>
      <td>10011</td>
      <td>-0.002264</td>
      <td>0.024414</td>
    </tr>
    <tr>
      <th>23</th>
      <td>11111</td>
      <td>-0.002257</td>
      <td>0.022461</td>
    </tr>
    <tr>
      <th>24</th>
      <td>01110</td>
      <td>-0.002496</td>
      <td>0.021484</td>
    </tr>
    <tr>
      <th>25</th>
      <td>01101</td>
      <td>-0.003215</td>
      <td>0.019531</td>
    </tr>
    <tr>
      <th>26</th>
      <td>10000</td>
      <td>-0.001014</td>
      <td>0.006836</td>
    </tr>
    <tr>
      <th>27</th>
      <td>00001</td>
      <td>-0.001559</td>
      <td>0.003906</td>
    </tr>
    <tr>
      <th>28</th>
      <td>00100</td>
      <td>-0.000962</td>
      <td>0.003906</td>
    </tr>
    <tr>
      <th>29</th>
      <td>00010</td>
      <td>-0.000878</td>
      <td>0.002930</td>
    </tr>
    <tr>
      <th>30</th>
      <td>00000</td>
      <td>0.000000</td>
      <td>0.002930</td>
    </tr>
    <tr>
      <th>31</th>
      <td>01000</td>
      <td>-0.001829</td>
      <td>0.002930</td>
    </tr>
  </tbody>
</table>