*{
  margin:0;
  padding:0;
  
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.header {
  overflow: hidden;
  
}
.header img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.footer {
  width: 100vw;
  display:block;
  overflow:hidden;
  padding: 70px 0;
  box-sizing:border-box;
  background-color: #014F91;
  margin-top: 30px;
}  

.inner_footer {
  display:block;
  margin: 0 auto;
  width: 1100px;
  height:100%;
}

.inner_footer .footer_text {
  font-size:14px;
  color:white;
  text-align:center;
  margin-top:-10px;
}

@media (max-width:600px) {
  .footer .inner_footer{
    width: 90%;
  }
  .inner_footer .footer_text {
    width:100;
    margin-bottom: 30px;
  }
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

 
