* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
   
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  img {
    width:100%;
    height:100%;
    transition: transform 0.5s ease;
  }

  .img {
    width:100%;
    height:100%;
  }

  .zoomed {
    transform: scale(1.03);
    cursor: zoom-out;
    position: fixed;
    left: 10px;
    top: -11px;
  }

  .zoomed_a {
    transform: scale(0.99);
    cursor: zoom-out;
    position: fixed;
    left: 10px;
    top: -11px;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
        width: 100%;
    }
  }
  